
.chart-wrapper {
  position: relative;
  height: 100%;
  max-height: 400px;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;

}

.chart-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}

@media (min-width: 768px) {
  .chart-wrapper {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .chart-wrapper {
    max-width: 800px;
  }
}

