 .clock {
      text-align: center;
      font-size: 20px;
    }

    #day {
      display: inline;
      font-size: 20px;
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 1);
    }

    #date {
      display: inline;
      font-size: 20px;
      margin-bottom: 10px;
      color: rgba(0, 0, 0, 1);
    }

    #time {
      font-size: 20px;
      color: black;
      animation: pulse 4s infinite;
    }

    @keyframes pulse {
      0%   { opacity: 1; }
      50%  { opacity: 0.6; }
      100% { opacity: 1; }
    }