.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}
.check-box-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
  background-color: #1e1e1e3f;
}
.task-item input[type="checkbox"] {
  margin-bottom: 15px;
  transform: scale(1.2);
  accent-color: #3b82f6;
}
.task-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-left: 4px solid #ccc;
  padding-left: 10px;
}
.task-Text {
  font-size: 15px;
  color: #888;
  font-style: italic;
}
.time-stamp {
  font-size: 11px;
  color: #888;
  font-style: italic;
}
.task-text {
  font-weight: 500;
}
.delete-task-btn {
  background: #039008;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

/* Popup */
.add-my-task-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  max-height: 350px;
  max-width: 420px;
  width: 100%;
  max-width: 420px;
  animation: popIn 0.25s ease;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.modal-content{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;;
}
.add-my-task-div textarea {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 200px;
  width: 400px;
}
.task-priority{
  padding: 5px;
  width: 50%;
}
.btn-group {
  display: flex;
  gap: 10px;
}
#saveBtn {
  background: #28a745;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  flex: 1;
  cursor: pointer;
}
#cancelBtn {
  background: #6c757d;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  flex: 1;
  cursor: pointer;
}
