/* ========
FOR OVERLAY 
===========*/
.app-overlay{
    position:fixed;
    inset:0;
    background-color: rgba(0,0,0,0.35);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:9999;
}
.notification-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 520px;
    overflow-y: auto;
    border-radius: 10px;
}
.notification-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.notification-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.notification-content:hover{
    background: lightgray;
    cursor: pointer;
    border-radius: 8px;
}
.notification-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 3px solid lightgray;
    padding: 8px;
    
}
.notif-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* left align */
    gap: 8px;               /* consistent spacing */
}

/* REMOVE DEFAULT MARGINS */
.notif-text h4,
.notif-text p,
.notif-text small {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #444;
}
.itemvalue, .notif-text strong{
    font-weight: 600;
}
.border-line{
    border-left: 2px solid lightskyblue;
    height: 10vh;
    padding: 0;
    margin: 0;;
}
@media (max-width: 400px) {
    .notification-container{
        width: 320px;
    }
}


