

/* LAYOUT */
.profile-container {
    display: flex;
    gap: 20px;
    max-width: 900px;
    margin: auto;
}
.profile-form{
    flex:1;
}
/* CARDS */
.profile-form,
.profile-card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 100%;
}

/* FORM */
.profile-form h2 {
    margin-bottom: 16px;
    font-size: 1.3rem;
}

.profile-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 0.95rem;
}

/* BUTTON */
.profile-form button {
    width: 100%;
    padding: 14px;
    background: #4f46e5;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s ease;
}

.profile-form button:hover {
    background: #4338ca;
}

/* PROFILE DISPLAY */
.profile-card {
      flex: 1;
}

.profile-card.active {
    display: block;
}


.profile-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 16px;
    border: 3px solid #4f46e5;
}

/* INFO TEXT */
.profile-info p {
    margin: 8px 0;
    font-size: 0.95rem;
}

.profile-info span {
    font-weight: 600;
}

@media (max-width: 400px) {
    .profile-container {
        flex-direction: column;
    }

    .profile-card {
        order: 1;
        display: block;
    }

    .profile-form {
        order: 2;
    }

    .profile-card img {
        width: 90px;
        height: 90px;
    }

    .profile-form,
    .profile-card {
        padding: 14px;
    }
}

/* TABLET */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

